{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}
