{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto",
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.ts",
    "tailwindFunctions": ["clsx", "cva", "twMerge"],
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}
