@import "tailwindcss";

@theme {
  --color-security-black: #0A0A0A;
  --color-security-navy: #0F1A2F;
  --color-security-gold: #C89D3E;
  --color-security-red: #8B0000;
  --color-security-white: #F5F5F5;
}